header {
    display: flex;

    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex: 50px;
    width: 100%;
    background: #D9D9D9;
    height: 105px;

}

head {
    background-color: rgb(217, 217, 217)
}

body {
    background-color: white;
    background-image: url("https://psv4.userapi.com/c909328/u278260240/docs/d32/00912ca0cca5/Fon13.jpg?extra=KOAjXL0fY7W-Jh6eoQAXUzqcq4iCi5Q3TVgapy9QtJJVTnIh8hohUxEab5S6weRbJy4ad5e5W7s0NljFMmYkJ8qKGMOHqYQVH0Z-zrmLdHRbtzYy7NqsefaKW_72NoHNlAD_eP4FRIm3Lm3rXO-2zo7O");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
}
.menuButton{
    width: 100px;
    padding: 10px;
    border-left: 3px outset black;
}
.menuButton:hover{
    background-color: rgb(159, 159, 159);
    border-radius: 10px;
}
.menuButton2{
    display: block;
    margin-left: 20px;
    margin-bottom: 20%;
    text-decoration: none;
    color: black;
    height: 15px;
    
    
}
.menuButtonTexts {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
